<h1>Sign up</h1>
<div>
<%= form_tag("#{relative_root}/users", method: "post") do %>
  <%= render 'shared/error_messages' %>
  <%= label_tag(:name) %> 
  <%= text_field_tag(:name) %>
  <%= label_tag(:email) %> 
  <%= text_field_tag(:email) %>
  <%= label_tag(:password) %> 
  <%= password_field_tag(:password) %>
  <%= label_tag(:password_confirmation) %> 
  <%= password_field_tag(:password_confirmation) %>
  <%= submit_tag("Create my account") %>
<% end %>
</div>
<div>

</div>
